.app{

    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
    }

    .speaker-stack {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .speaker-chip{
            margin: 10px;
            font-size: 30px;
            background-color: transparent;
        }
        .current-speaker-chip{
            margin: 60px;
            font-size: 60px;
            color: darkgoldenrod;
            background-color: transparent;
        }
    }

    .input {
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

        button {
            margin: 30px;
            padding: 20px;
            color: rgb(2, 41, 28);
            background-color: cadetblue;
        } 
    }

    .current-speaker{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

        button {
            margin: 30px;
            padding: 20px;
            color: rgb(2, 41, 28);
            background-color: green;
        }         
    }

}